<h1>Tasks#new</h1>
<%= link_to '一覧', tasks_path %>

<%= form_with model: @task do |f| %>
  <div>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.label :description %></p>
      <p><%= f.text_area :description %></p>
      <p><%= f.submit nil %></p>
  </div>

<% end %>